{% extends 'base.html' %}
{% block title %}Change password{% endblock %}
{% block content %}
    <h1>Change password</h1>
    {% block menu_links %}
    <li><a href="{% url "accounts:detail" user_obj.pk %}">Back</a></li>
    <li><a href="{% url "accounts:change" user_obj.pk %}">Edit personal info</a></li>
{% endblock %}
    {% url "accounts:password_change" user_obj.pk as action_url %}
   <form method="POST">
        {% include 'partial/form.html' with button_text="Update" %}
    </form>
{% endblock %}