{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Products</h1>
 {% for product in products %}
     <div class="card" style="width: 25rem;">
     <div class="card-body">
         <h5 class="card-title">Product: {{ product.name }}
               <a href="{% url 'webapp:product_view' product.pk %}" class="card-link"><i class="fas fa-eye"></i></a>
             <a href="{% url 'webapp:product_update' product.pk %}" class="card-link"><i class="fas fa-edit"></i></a>
         <a href="{% url 'webapp:product_delete' product.pk %}" class="card-link"><i class="fas fa-trash-alt"></i></a></h5></h5>
         <h6 class="card-subtitle mb-2 text-muted">Category: {{ product.category }}</h6>
          <a href="{% url 'webapp:review_add' product.pk %}" class="card-link">Add your review for this product</a>
     </div>
</div>
    {% endfor %}
     </div>
{% endblock %}